version: '3.8'
services:
  postgres:
    image: postgres:15
    container_name: postgres-smart-home
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    command: postgres -c log_destination=stderr -c log_statement=all
